

body{
    width: 500px;
    background-color:hsl(217, 54%, 11%);
    margin: 0 auto;
}


section{
    padding-top: 20px;
    height:400px;
    width: 256px;
    max-width: 400px;
    margin: 0 auto;
    background-color:hsl(216, 50%, 16%);
    border-radius: 15px;
}


article{
    width: 50%;
    height: 40%;
    background-repeat: no-repeat;
    padding: 30px;
    padding-bottom: 20px;
    background-position: center;
    margin:  auto;
    border-radius: 10px;
    background-image: url("./images/image-equilibrium.jpg");
    object-fit: contain;
    border-radius: 10px;
    background-size: contain;
}


article:active {
    filter: sepia(1) saturate(10) hue-rotate(145deg); 
}


.title{ 
    font-size: 10px;
    color: white;
    font-family:'Outfit', sans-serif;
    margin-left: 35px;
    margin-right: 60px;

}


.title:active{
    color: hsl(178, 100%, 50%);   
}


.title:hover{
    cursor: pointer;
}

.explanation{
    display: block;
    background-image: none;
    font-family: 'Outfit', sans-serif;
    font-size: 11px;
    height: 20px;
    margin-top: 10px;
    color: hsl(215, 51%, 70%);
    letter-spacing: normal;
    margin-left: 35px;
   letter-spacing: 1px;
}
.price{
    width: 200px;
    height: fit-content;
   border-radius: 0;
   border-bottom:1px solid hsl(0, 0%, 100%) ;
   display: flex;
   justify-content: space-between;
}
 
.eth-price{

    font-size: 10px;
    padding-left: 5px;
    color: hsl(178, 100%, 50%);;
  
}
.eth-img{
   height: 15px;
}

.clock{
    height: 15px;
    
  
}

.time{
    
    
    color:hsl(215, 51%, 70%);
    font-size: 10px;
}

.avatar{
    width: 25px;
    height: 25px;
    
   
    border: solid white 1px;
    border-radius: 50%;

}

.author{
    color:white;
    font-size: 10px;
    margin-right: 40px;
  
}

.author strong{
    color:hsl(215, 51%, 70%);
}

.eth{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.time-info{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    padding-top: 10px;
  
    width: 200px;
    margin-left: 15px;
}